@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

html {
  font-size: 10px;
  line-height: 1; }
  html a {
    outline: none !important;
    text-decoration: none;
    color: inherit; }

img {
  display: block;
  image-rendering: pixelated; }

button {
  outline: none;
  font-family: inherit !important;
  font-size: inherit !important; }

body {
  color: #555555;
  font-size: 1.6rem;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
  font-weight: 400; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 1.4rem; } }

.ele-hover {
  opacity: 1;
  transition: all 0.3s ease; }
  .ele-hover:hover {
    opacity: 0.8; }

.title-h3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.2rem; }
  @media screen and (max-width: 768px) {
    .title-h3 {
      font-size: 1.8rem;
      margin-bottom: 25px; } }

.wrap-style {
  display: flex;
  justify-content: space-between; }

.f-sample14 {
  font-size: 1.4rem; }
  @media screen and (max-width: 768px) {
    .f-sample14 {
      font-size: 1.2rem; } }

.f-sample16 {
  font-size: 1.6rem; }
  @media screen and (max-width: 768px) {
    .f-sample16 {
      font-size: 1.4rem; } }

.font-b {
  font-weight: bold; }

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0px auto; }
  @media screen and (max-width: 768px) {
    .container {
      padding: 0px 20px; } }

.p-fixed {
  position: fixed;
  top: 0px;
  left: 0px; }

.p-a_l {
  position: absolute;
  top: 0px;
  left: 0px; }

.p-r_t {
  position: relative;
  z-index: 0; }

.cenrl-a_l {
  left: 50%;
  transform: translateX(-50%); }

.w-h-100 {
  width: 100%;
  height: 100%; }

.w-100 {
  width: 100%; }

.w-50 {
  width: 50%; }

.w-50v {
  width: 50vw; }

.h-100 {
  height: 100%; }

.w-100v {
  width: 100vw; }

.h-100v {
  height: 100vh; }

.wmax {
  max-width: 100%; }

.d-block {
  display: block; }

.d-table {
  display: table; }

.m-au {
  margin: auto; }

.m-0-au {
  margin: 0px auto; }

.m-au-0 {
  margin: auto 0px; }

.fold1 {
  margin-bottom: 80px; }
  @media screen and (max-width: 768px) {
    .fold1 {
      margin-bottom: 30px; } }
  .fold1-h3 {
    margin: 45px auto 32px; }
    @media screen and (max-width: 768px) {
      .fold1-h3 {
        margin: 25px auto 10px;
        padding: 0px 20px;
        line-height: 1.6; } }
  .fold1-figure {
    display: table;
    margin: 0px auto;
    position: relative; }
    .fold1-figure .img-clover {
      position: absolute;
      right: 30px;
      bottom: -40px; }
      @media screen and (max-width: 768px) {
        .fold1-figure .img-clover {
          width: 14.44%;
          top: 74.4%;
          bottom: auto; } }
  .fold1-p {
    max-width: 830px;
    letter-spacing: 0.05rem;
    text-align: center;
    line-height: 1.8;
    width: 100%;
    margin: 0px auto; }
    @media screen and (max-width: 768px) {
      .fold1-p {
        padding: 0px 20px; } }
  .fold1-wrap {
    max-width: 620px;
    display: flex;
    margin: 35px auto 0px;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .fold1-wrap {
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px auto 0px; } }
    .fold1-wrap figure {
      padding: 0px 10px; }
      @media screen and (max-width: 768px) {
        .fold1-wrap figure {
          padding: 0px 20px;
          margin-bottom: 25px; } }
      .fold1-wrap figure span {
        display: block;
        text-align: center;
        line-height: 1;
        margin-top: 12px; }

.fold2 {
  padding: 80px 0px 40px;
  position: relative; }
  @media screen and (max-width: 768px) {
    .fold2 {
      padding: 40px 0px 20px; } }
  .fold2::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    max-width: 1120px;
    width: 100%;
    transform: translateX(-50%);
    height: 1px;
    background: #cccccc;
    z-index: 1; }
  .fold2-wrap {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px auto;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .fold2-wrap {
        justify-content: center;
        padding: 0px 10px; } }
  .fold2-li {
    max-width: 360px;
    padding: 0px 10px;
    margin-bottom: 55px;
    letter-spacing: 0.06rem;
    width: 32.5vw; }
    @media screen and (max-width: 768px) {
      .fold2-li {
        width: 50%;
        margin-bottom: 30px;
        min-width: 280px; } }
    .fold2-li span {
      display: block;
      line-height: 1;
      margin: 20px auto 12px; }
      @media screen and (max-width: 768px) {
        .fold2-li span {
          margin: 15px auto 10px; } }
    .fold2-li p {
      line-height: 1.8; }
