@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

html {
  font-size: 10px;
  line-height: 1; }
  html a {
    outline: none !important;
    text-decoration: none;
    color: inherit; }

img {
  display: block;
  image-rendering: pixelated; }

button {
  outline: none;
  font-family: inherit !important;
  font-size: inherit !important; }

body {
  color: #555555;
  font-size: 1.6rem;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
  font-weight: 400; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 1.4rem; } }

.ele-hover {
  opacity: 1;
  transition: all 0.3s ease; }
  .ele-hover:hover {
    opacity: 0.8; }

.title-h3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.2rem; }
  @media screen and (max-width: 768px) {
    .title-h3 {
      font-size: 1.8rem;
      margin-bottom: 25px; } }

.wrap-style {
  display: flex;
  justify-content: space-between; }

.f-sample14 {
  font-size: 1.4rem; }
  @media screen and (max-width: 768px) {
    .f-sample14 {
      font-size: 1.2rem; } }

.f-sample16 {
  font-size: 1.6rem; }
  @media screen and (max-width: 768px) {
    .f-sample16 {
      font-size: 1.4rem; } }

.font-b {
  font-weight: bold; }

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0px auto; }
  @media screen and (max-width: 768px) {
    .container {
      padding: 0px 20px; } }

.p-fixed {
  position: fixed;
  top: 0px;
  left: 0px; }

.p-a_l {
  position: absolute;
  top: 0px;
  left: 0px; }

.p-r_t {
  position: relative;
  z-index: 0; }

.cenrl-a_l {
  left: 50%;
  transform: translateX(-50%); }

.w-h-100 {
  width: 100%;
  height: 100%; }

.w-100 {
  width: 100%; }

.w-50 {
  width: 50%; }

.w-50v {
  width: 50vw; }

.h-100 {
  height: 100%; }

.w-100v {
  width: 100vw; }

.h-100v {
  height: 100vh; }

.wmax {
  max-width: 100%; }

.d-block {
  display: block; }

.d-table {
  display: table; }

.m-au {
  margin: auto; }

.m-0-au {
  margin: 0px auto; }

.m-au-0 {
  margin: auto 0px; }

body {
  background-color: #cccccc; }

.access-top {
  margin-bottom: 75px; }
  @media screen and (max-width: 768px) {
    .access-top {
      margin-bottom: 40px; } }
  .access-top .title-h3 {
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .access-top .title-h3 {
        margin-bottom: 20px; } }
  .access-top .access-p {
    max-width: 885px;
    margin: 0px auto;
    letter-spacing: 0.1rem;
    line-height: 1.8; }
    @media screen and (max-width: 768px) {
      .access-top .access-p {
        padding: 0px 20px; } }

.access {
  max-width: 960px;
  width: 100%;
  margin: 0px auto 100px; }
  @media screen and (max-width: 768px) {
    .access {
      margin: 0px auto 50px; } }
  .access .map-button {
    display: flex;
    margin: 20px 0px; }
    @media screen and (max-width: 768px) {
      .access .map-button {
        flex-wrap: wrap;
        padding: 0px 20px;
        margin: 0px 0px 15px; } }
  .access .btn-toggle {
    height: 36px;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #71bb48;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    transition: all 0.3s ease;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .access .btn-toggle {
        margin-top: 15px; } }
    .access .btn-toggle::after, .access .btn-toggle::before {
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      border-radius: 18px; }
    .access .btn-toggle::after {
      background-color: #71bb48;
      z-index: -1;
      opacity: 0;
      transition: all 0.3s ease; }
    .access .btn-toggle::before {
      background-color: white;
      z-index: -2;
      opacity: 1; }
    .access .btn-toggle:first-of-type {
      margin-right: 20px; }
    .access .btn-toggle.active {
      color: white; }
      .access .btn-toggle.active::after {
        opacity: 1; }
  .access .map-title {
    font-weight: bold; }
    @media screen and (max-width: 768px) {
      .access .map-title {
        padding: 0px 20px; } }
  .access .map-figure {
    padding-bottom: 56.25%;
    position: relative;
    z-index: 0;
    overflow: hidden; }
    .access .map-figure .img-map {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      z-index: 1; }
      .access .map-figure .img-map img {
        width: 100%; }
      .access .map-figure .img-map.active {
        z-index: 2; }
  .access-wrap.map1 {
    margin-bottom: 95px; }
    @media screen and (max-width: 768px) {
      .access-wrap.map1 {
        margin-bottom: 50px; } }
    .access-wrap.map1 .btn-toggle {
      max-width: 240px; }
    .access-wrap.map1 > span {
      display: block;
      margin: 20px 0px 15px;
      line-height: 1;
      letter-spacing: 0.1rem; }
      @media screen and (max-width: 768px) {
        .access-wrap.map1 > span {
          padding: 0px 20px;
          margin: 15px 0px 12px; } }
    .access-wrap.map1 > p {
      line-height: 1;
      letter-spacing: 0.1rem; }
      @media screen and (max-width: 768px) {
        .access-wrap.map1 > p {
          padding: 0px 20px;
          line-height: 1.6; } }
      .access-wrap.map1 > p a {
        display: inline-block;
        position: relative; }
        .access-wrap.map1 > p a::after {
          bottom: 0px;
          left: 0px;
          width: 100%;
          height: 1px;
          content: '';
          position: absolute;
          background-color: #555555; }
  .access-wrap.map2 .btn-toggle {
    max-width: 290px; }
    @media screen and (max-width: 768px) {
      .access-wrap.map2 .btn-toggle:first-of-type {
        margin-right: 0px; } }
  @media screen and (max-width: 768px) {
    .access-wrap.map2 .map-button {
      max-width: 640px;
      justify-content: space-between; } }
