@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

html {
  font-size: 10px;
  line-height: 1; }
  html a {
    outline: none !important;
    text-decoration: none;
    color: inherit; }

img {
  display: block;
  image-rendering: pixelated; }

button {
  outline: none; }

body {
  color: #555555;
  font-size: 1.6rem;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
  font-weight: 400; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 1.4rem; } }

.ele-hover {
  opacity: 1;
  transition: all 0.3s ease; }
  .ele-hover:hover {
    opacity: 0.8; }

.title-h3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.2rem; }

.wrap-style {
  display: flex;
  justify-content: space-between; }

.f-sample14 {
  font-size: 1.4rem; }
  @media screen and (max-width: 768px) {
    .f-sample14 {
      font-size: 1.2rem; } }

.f-sample16 {
  font-size: 1.6rem; }
  @media screen and (max-width: 768px) {
    .f-sample16 {
      font-size: 1.4rem; } }

.font-b {
  font-weight: bold; }

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0px auto; }

.p-fixed {
  position: fixed;
  top: 0px;
  left: 0px; }

.p-a_l {
  position: absolute;
  top: 0px;
  left: 0px; }

.p-r_t {
  position: relative;
  z-index: 0; }

.cenrl-a_l {
  left: 50%;
  transform: translateX(-50%); }

.w-h-100 {
  width: 100%;
  height: 100%; }

.w-100 {
  width: 100%; }

.w-50 {
  width: 50%; }

.w-50v {
  width: 50vw; }

.h-100 {
  height: 100%; }

.w-100v {
  width: 100vw; }

.h-100v {
  height: 100vh; }

.wmax {
  max-width: 100%; }

.d-block {
  display: block; }

.d-table {
  display: table; }

.m-au {
  margin: auto; }

.m-0-au {
  margin: 0px auto; }

.m-au-0 {
  margin: auto 0px; }

.fold1, .fold2 {
  margin-bottom: 75px; }

.fold1-content {
  max-width: 485px;
  width: 100%; }
  .fold1-content p {
    max-width: 430px;
    line-height: 1.8; }
    .fold1-content p.text-color {
      color: #71bb48;
      font-weight: bold;
      margin-bottom: 25px; }

.fold2-ul {
  max-width: 340px; }
  .fold2-ul:not(:last-of-type) {
    margin-right: 20px; }
  .fold2-ul .li-content span {
    display: block;
    text-align: center;
    line-height: 1;
    margin: 20px 0px; }
  .fold2-ul .li-content p {
    line-height: 1.8;
    letter-spacing: 0.02rem; }

.fold3 {
  margin-bottom: 80px; }
  .fold3 dl {
    max-width: 980px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    border-top: 1px solid #cccccc; }
    .fold3 dl:first-of-type {
      border-top: 1px solid #cccccc; }
    .fold3 dl:last-of-type {
      border-bottom: 1px solid #cccccc; }
  .fold3 dd {
    font-weight: bold; }
