$grey: #d8d8d9;
$grey-1: #707171;
$grey-2: #898989;
$grey-3: #c9c9c9;
$black: #434343;
$blue: #00a0e9;
$blue-1: #086bb6;
$soft-blue: #f0faff;

$breakpoints:(
    '1120': 1120px,
    '992': 992px,
    '768' : 768px,
    '576': 576px
)